@font-face {
    font-family: 'Gilroylight';
    src: url(.//fonts/gilroylight.woff2) format('woff2'),
        url(.//fonts/gilroylight.woff) format('woff');        
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroyextrabold';
    src: url(.//fonts/gilroyextrabold.woff2) format('woff2'),
        url(.//fonts/gilroyextrabold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Opensans';
    src: url(.//fonts/opensans.woff2) format('woff2'),
        url(.//fonts/opensans.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Opensanslight';
    src: url(.//fonts/opensanslight.woff2) format('woff2'),
        url(.//fonts/opensanslight.woff) format('woff');        
    font-weight: normal;
    font-style: normal;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Gilroyextrabold', 'Opensans', sans-serif;
    font-size: 16px;
    line-height: 24px;    
    color: #000000;
    
}    
a {
    text-decoration: none;
    color: #000000;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    max-width: 1440px;
    height: auto;
    background-color: #464646;
    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
    position: relative;
    max-width: 1160px;
    background-color: #f7e296;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 53px;
    padding-bottom: 164px;
}
.logo-link {
    position: absolute;
    left: 60px;
    top: -21px;
}
.logo-link:hover {
    opacity: 0.6;
}
.logo-link:active {
    opacity: 0.3;
}
.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    min-height: 50px;
    margin-bottom: 35px;
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Opensanslight", sans-serif;
    font-size: 15px;
}

.search-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 50%;
    margin-right: 20px;
}
.search-container::before {    
    content: url(.//img/search.svg);
    position: absolute;
    top: 15px;
    width: 16px;
    height: 20px;
    z-index: 10;
}
.input-search {  
    min-height: 49px; 
    width: 315px;
    padding-left: 36px; 
    opacity: 30%;
    border: none;
    background-color: #f7e296;
}
.input-search:hover {    
    opacity: 60%;
}
.input-search:focus {
    opacity: 100%;
    border-bottom: 2px solid #000000;
    outline: none;
}
.button-search {
    display: none;
}
.input-search:focus + button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 49px;
    border: 2px solid #000000;
    background-color:#f7e296;
}
.header-buttons .button-search:hover {
    background: #000000;
    color: #ffffff;
}
.header-buttons .button-search:active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 49px;
    background: #000000;
    color: rgba(255, 255, 255, 0.3);
}
.user-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 20px;
}
.user-buttons li:first-child {
    margin-right: auto;
}
.user-buttons li:nth-child(2) {
    margin-right: 35px;
}
.user-buttons a {
    position: relative;
}
.button-registration {
    padding-left: 26px;
}
.button-registration::before {
    content: url(.//img/user.svg);
    position: absolute;
    left: 0px;    
}
.button-compare {
    padding-left: 20px;
}
.button-compare::before {   
    content: url(.//img/compare.svg); 
    position: absolute;  
    left: 0px;   
}
.button-basket {
    padding-left: 23px;
}
.button-basket::before {
    content: url(.//img/cart.svg);
    position: absolute;
    left: 0px;  
}
.user-buttons a:hover {
    opacity: 0.6;
}
.user-buttons a:active {
    opacity: 0.3;
}
.nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.nav-link {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.nav-catalog {
    width: 50%;
}
.nav-delivery {
    margin-right: 35px;
    margin-left: 20px;
}
.nav-warranty {
    margin-right: auto;
}
.nav-catalog-link {
    position: relative;
    padding-right: 28px;
}
.nav-catalog-link::after {
    content: url(.//img/plus.svg);
    position: absolute;
    right: 0px;
    top: 2px;
    opacity: 0.3;    
}
.nav-list a:hover {
    opacity: 0.6;
}
.nav-list a:active {
    opacity: 0.3;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 1160px;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 20px;
    left: -60px;
    top: 21px;  
    background-color: #f7e296;
    z-index: 2;
}
.dropdown-menu div {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.dropdown-menu a {
    font-family: "Opensanslight", sans-serif;
    font-size: 15px;
    line-height: 36px;
}
.nav-catalog-link:hover ~ .dropdown-menu {
    display: flex;
}
.dropdown-menu:hover {
    display: flex;
}

/* Section SLIDER */

.section-slider {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.section-slider {
    position: relative;
    margin-bottom: 115px;
}
.slider-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin-bottom: 115px;
    margin-top: -110px;
    
}
.slider-item:last-child {
    margin-bottom: 0;
}
/* .section-slider::before {
    content: "";
    display:block;
    position: absolute;
    height: 90px;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7e296;
    z-index: -1;
} */
.slider-img {    
    margin-right: auto;
    margin-left: auto;
}
.slider-content {
    width: 50%;
    padding-left: 20px;
}
.slider-content-number {
    position: absolute;
    margin: 0;
    top: 64px;
    right: 40px;
    font-size: 179px;
    color: #ffffff;
}
p.content-tagline {
    margin-top: 77px;
    font-size: 47px;
    line-height: 56px;
}

p.content-description {
    margin-bottom: 45px;
    font-family: "Opensanslight", sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.content-link {
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 220px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 40px;        
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(to top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}
.content-link:hover {    
    background: #f0c52e;
}
.content-link:focus {    
    height: 40px;    
    color: rgba(0, 0, 0, 0.3);
}
.content-properties tr {
    display: flex;
    justify-content: left;
}
.content-properties th:nth-child(1),
.content-properties th:nth-child(3) {
    display: flex;
    justify-content: start;
    width: 160px;    
}
.content-properties th:nth-child(2) {
    display: flex;
    justify-content: start;
    width: 140px;    
}

.properties-value th {
    font-family: 'Gilroylight', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}
.properties-name th {
    font-family: 'Opensanslight', serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
} 
.section-popular {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 85px;
}

.popular-content-list {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1160px;
}
.popular-content-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
}

.popular-content-item div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;    
    margin: 0 0 38px 0;
    background: transparent;
    background-color: #f7e184;
}
.popular-content-item a:hover > div {
    background-color: #f0c52e;
}
.popular-content-item a:active > div img {
    opacity: 0.3;
}
.popular-content-item .item-img {
    align-items: flex-end;
}
.services {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
    margin-bottom: 94px;
    max-width: 1440px;
    background: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px, #e5e5e5 389px);
}
.services-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.services-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.button-delivery,
.button-warranty, 
.button-credit {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 160px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 32px;
    background: linear-gradient(to top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button-delivery {
    margin-top: 73px;
}
.button-credit {
    margin-bottom: 63px;
}
.button-delivery:hover,
.button-warranty:hover, 
.button-credit:hover {
    background-color: #f0c52e  
}
.service-delivery,
.service-warranty,
.service-credit {
    display: none;
    position: relative;
    padding-top: 30px;
    padding-bottom: 43px;

}
.service-delivery::after {
    content: url(.//img/delivery.svg);
    position: absolute;
    left: 674px;
}
.service-warranty::after {
    content: url(.//img/warranty.svg);
    position: absolute;
    left: 659px;
}
.service-credit::after {
    content: url(.//img/credit.svg);
    position: absolute;
    left: 650px;
}
.delivery-switch:checked ~ .service-delivery,
.warranty-switch:checked ~ .service-warranty,
.credit-switch:checked ~ .service-credit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 7px solid #000000;
    padding-left: 117px;
}

.delivery-switch:checked ~ .services-button .button-delivery,
.warranty-switch:checked ~ .services-button .button-warranty,
.credit-switch:checked ~ .services-button .button-credit {
    box-sizing: content-box;
    border-right: 117px solid #000000;
    color: #f7e184;
    background: linear-gradient(to top, #000000, #000000);
}
.services h3 {
    font-size: 47px;
    line-height: 48px;
}
.services p {
    font-family: 'Opensanslight', serif;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

/* Section LOGOTYPES */

.section-logotypes {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 93px;
}
.logotypes-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logotypes-link {
    position: relative;
}
.link-one:hover::after {
    content: url(.//img/logo-1copy.png);
    position: absolute;
    left: 0px;
}
.link-two:hover::after {
    content: url(.//img/logo-2copy.png);
    position: absolute;
    left: 0px;
}
.link-three:hover::after {
    content: url(.//img/logo-3copy.png);
    position: absolute;
    left: 0px;
}
.link-four:hover::after {
    content: url(.//img/logo-4copy.png);
    position: absolute;
    left: 0px;
}

/* Section INFORMATION */

.section-info {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 74px;
}
.about-us {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 50%;
}

.contacts {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 50%;
    padding-left: 20px;
}

.section-info > div::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #000000;
}
.contacts-map {
    display: flex;
    align-items: center;
    width: 560px;
    height: 222px;
}
.section-info-button {
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 260px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 72px;   
    font-family: 'Gilroyextrabold', 'Opensans', sans-serif;
    font-size: 18px;
    line-height: 24px;  
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    border: none;
    background: linear-gradient(to top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);  
}
.section-info-button:hover {    
    background-color: #f0c52e;    
}
.about-us h2,
.contacts h2 {
    font-size: 47px;
    line-height: 48px;
}
.about-us p,
.contacts p {
    font-family: 'Opensanslight', serif;
    font-size: 15px;
    line-height: 30px;
}
.delivery-list {
    margin-top: 12px;
    list-style-type: circle;
    padding-left: 36px;
    font-size: 16px;
    line-height: 40px;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
}
.footer-container {
    display: block;
    max-width: 1160px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    padding-bottom: 47px;
}
.footer-buttons {
    margin-bottom: 40px;
}
.device-yellow {
    margin-right: auto;
}
.device-yellow:hover {
    opacity: 0.6;
}
.device-yellow:active {
    opacity: 0.3;
}
.footer-services {
    margin-bottom: 70px;
}
.footer-user-buttons li:nth-child(1){
    margin-right: 43px;
}
.footer-user-buttons li:nth-child(2){
    margin-right: 37px;
}
.footer-user-buttons a {
    position: relative;
    font-family: 'Opensanslight', serif;
    font-size: 15px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7)  
}
.footer-user-buttons a:hover {
    /* opacity: 0.6; */
    color: rgba(255, 255, 255, 1);
}
.footer-user-buttons a:active {
    opacity: 0.3;
}
.footer-button-registration {
    padding-left: 26px;
}
.footer-button-registration::before {
    content: url(.//img/user-footer.png);
    position: absolute;
    left: 0px;
}
.footer-button-compare {
    padding-left: 20px;
}
.footer-button-compare::before {
    content: url(.//img/compare-yellow.png);
    position: absolute;
    left: 0px;
    
}
.footer-button-basket {
    padding-left: 24px;
}
.footer-button-basket::before {
    content: url(.//img/cart-yellow.png);
    position: absolute;
    left: 0px;
}
.footer-user-buttons {
    display: flex;
}
.footer-services p {
    font-family: 'Opensanslight', serif;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}
.list-services {
    display: flex;
    flex-wrap: wrap;
}
.list-services li:nth-child(2) {
    margin-left: 37px;
    margin-right: 45px;
}

.list-services a {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}
.list-services a:hover {
    opacity: 0.6;
}
.list-services a:active {
    opacity: 0.3;
}
.footer-socials::before {
    content: "";
    display: block;
    position:relative;
    width: 80px;
    height: 7px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #ffc600;
}
.socials-list {
    display: flex;
}
.socials-list li:nth-child(2) {
    margin-left: 23px;
    margin-right: 22px;
}
.socials-list a {
    opacity: 0.3;
}
.socials-list a:hover {
    opacity: 0.6;
}
.socials-list a:active {
    opacity: 0.1;
}
.academy:hover {
    opacity: 0.6;
}
.academy:active {
    opacity: 0.3;
    
}

